@import 'prism.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'JetBrainsMono';
    font-display: swap;
    src: url(https://cdn.zzfzzf.com/assets/JetBrainsMono-Regular.woff2) format('woff2');
}

@layer base {
    :root {
        font-family: "Inter", sans-serif;
    }

    @supports (font-variation-settings: normal) {
        :root {
            font-family: "Inter var", sans-serif;
        }
    }
}
